---
import PageSection from "./PageSection.astro";
import CardGrid from "./CardGrid.astro";
import Card from "./Card.astro";

const { sectionTitle = null, cards, cardsPerRow = 3 } = Astro.props;
---

<PageSection>
  <div class="space-y-4 flex flex-col">
    {sectionTitle && <h2 class="mx-auto text-4xl font-headers font-weight-headers">{sectionTitle}</h2>}
    <CardGrid cardsPerRow={cardsPerRow}>
      {
        cards.map((card) => (
          <Card
            title={card.title}
            body={card.body}
            href={card.href}
            img={card.img}
          />
        ))
      }
    </CardGrid>
  </div>
</PageSection>
