---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;

import {siteTitle} from '../data/site.json';
import '../styles/theme.css';

// const siteTitle = "Kendal Natural Gardens";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle} - {pageTitle}</title>
  </head>
  <body class="font-body font-weight-body">
    <Header title={siteTitle} />
    <main><slot /></main>
    <Footer />
  </body>
</html>
